@font-face {
    font-family: "Montserrat";
    src: url(./assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "MontserratBold";
    src: url(./assets/fonts/Montserrat-Bold.ttf);
}

.bold{
    font-family: "MontserratBold";
}

.regular{
    font-family: "Montserrat";
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box; 
}

body{
    font-family: "MontserratBold";
}

.logo {
	position: relative;
	top: 0;
	margin-bottom: 100px;
}
.logo img {
    width: 50px;
    margin-top: 20px;
    }

li img{
    width: 20px;
}

.appli, .sidebar{
    display: flex;
}

.appli {
    width: fit-content;
    margin: 0 auto;
    height: 667px;
    overflow-y: scroll;
    border: 10px solid black;
    border-radius: 25px;
}

.hey{
    font-size: 32px;
}

.wup{
    font-size: 28px;
}

.pop{
    font-size: 32px;
    padding: 60px 0 40px 0 ;
}

.main-wrapper{
    padding: 0 15px;
}

.heading{
    margin-bottom: 30px;
}

.heading h1{
    margin-bottom: 5px;
}

.grid-menu{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.grid-product{
    display: grid;
    grid-gap: 10px;
    grid-template-columns:/*repeat(3, 1fr);*/ repeat(3, minmax(0, 1fr)); /*-- Donne exactement la meme largeur pour les 3 cases -- */
}
